div.header {
    position: sticky;
    top: 0;
    height: 30px;
    padding: 16px;
    background: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header_logo {
    color:#F9FAF8 ;
    font-size: 24px;
    font-family: sans-serif;
    font-weight: bold;
    margin-left: 10%;
}
.header_links_container {
    margin-right:5%;
    width:30%;
 
}
ul {
    list-style: none;
    display:flex;
    margin:0;
    padding:0;
    flex-direction: row;
    justify-content: space-between;
  }
li {
    flex: auto;

}
a {
    color:#E5E7EB;
    font-weight: lighter;
    font-size:18px;
    font-family: sans-serif;
    text-decoration: none;
}
/* hero */ 
.hero {
    height: 300px;
    padding: 16px;
    background: white;
    display: flex;
  }
.hero_container_1 {
      margin-left: 10%;
      margin-top:5%;
      max-width: 50%;
    
  }



  .container img {
    width: 100%;
    height: 100%;
}
.title {
    background-color:white;
    color:black;
    text-align:left;
    font-size: 48px;
    font-weight:extra-bold;
    font-family: sans-serif;
    display: flex;
    margin-bottom: 2%;
  }
.subtext {
      color:gray;
      font-size: 18px;
      font-family: sans-serif;
      margin-bottom: 2%;

  }
.sign_up_button {
      margin-top:1%;
      background-color:#3882F6;
      color: white;
      padding-left:3%;
      padding-right:3%;
      padding-top:1%;
      padding-bottom:1%;
      border-radius: 8px;
      border-color:#3882F6;
  }
  /* rand info */
.information_section {
    height: 400px;
    padding: 16px;
    background:lightgray;
  
  }
.information_header {
      font-size: 36px;
      font-weight:bolder;
      color:#1F2937;
      font-family: sans-serif;
      text-align: center;
      margin-bottom: 32px;
      margin-top:32px;
  }
.info_container {
       display: flex;
       flex-direction: row;
       align-items: center;
       justify-content: center;
       gap:5%;

   }

.piece_of_information {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info_text {
    font-size: 18px;
    color:gray;
    font-family: sans-serif;
    text-align: center;
}
  .item {
    width: 60px;
    height: 60px;
    border: 4px solid black;
    background: skyblue;
  } 

  .thumbnail {
    width: 150px;
    height: 150px;
    border: 4px solid black;
    border-radius: 10px;
    background: black;
    margin-bottom: 8px;
  }

  /* quote */

  .quote_section {
    height: 300px;
    padding: 16px;
    background:#E5E7EB;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
  }

  .quote {
      color:#1F2937;
      font-style:italic;
      font-weight:lighter;
      font-family: sans-serif;
      font-size: 36px;
      width: 50%;

  }

  .author {
      color:black;
      font: 36px bold;
      font-family: sans-serif;
      padding-left:20%;
      margin-top: 2%;
    
  }
  .call_to_action_section {
    height: 250px;
    padding: 16px;
    background:white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }

  .call_to_action_container {
    width: 50%;
    height: 50%;
    border: 2px ;
    border-radius: 10px;
    background:#3882F6;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  } 

  .call_to_action_left {
      margin-left:8%;
  }

  .call_to_action_header {
      font-size:24px;
      color:white;
      font-family:sans-serif;
      font-weight:bold;
  }

  .call_to_action_subtext{
    color:white;
    font-family: sans-serif;
    font-size:18px;
  }
  .call_button {
    margin-top:1%;
    background-color:#3882F6;
    color: white;
    padding-top:2.5%;
    padding-bottom:2.5%;
    border-radius: 8px;
    border-color:white;
    margin-right:5%;
    font-weight:bold;
    font-size:18px;
    align-items:baseline;
    
  }

  .copyright_section {
    height: 50px;
    padding: 16px;
    background:black;
    color: #F9FAF8;
    display: flex;
    align-items:center;
    justify-content:center;
    font-family: sans-serif;
  }

  * {
      margin:0px;
  }
/*.flex-container {
    display: flex;
}

header {
    background-color: #1F2937;
    color:#F9FAF8 ;
    font-size: 24px;
    font-family: sans-serif;
    font-weight: bold;
    padding-left: 200px;
    padding-top:20px;
    padding-bottom:20px;
    border: 2px solid red;
}


li {
    display: inline-block;
    text-align: right;
    padding-left: 10px;
    padding-right:10px;
    font-weight: lighter;
    font-size:18px;
    color:#E5E7EB
}

h1 {
    background-color:#1F2937;
    color:#F9FAF8;
    text-align:left;
    font-size: 48px;
    font-weight:extra-bold;
    font-family: sans-serif;
    padding-top: 100px;
    padding-left:200px;
    border: 2px solid orange;
}

h2 {
    background-color:#1F2937;
    color:#E5E7EB;
    font-family: sans-serif;
    font-size:18px;
    font-weight:lighter;
    padding-left:200px;
}

button,
.call-to-action {
    background-color: #3882F6;
    color:#F9FAF8;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    padding-left:20px;
    padding-right:20px;
    padding-top:10px;
    padding-bottom:10px;
    border:5px;
    margin-bottom: 100px;
    margin-top:20px;
}
*/

